/* * Titre */

.title {
	font-size: 100px;
	padding-left: 1.5em;
	padding-top: 1.5em;
	color: white;
	margin: 0 auto;
	font-family: var(--font-family);
}

/* * Scrol List */

.scroll-list {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 30px;
	line-height: 1.5;
	margin-bottom: 50%;
}

.scroll-list > section {
	font-size: 0;
	position: fixed;
}

.scroll-list section > a > div {
	width: 60px;
	height: 10px;
	margin-top: 60px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
}

.scroll-list section > a {
	text-decoration: none;
}

/* ? Hover 1 profile */

#scroll1:hover::after {
	content: "Profil";
	font-family: var(--font-family);
	font-size: 20px;
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ? Hover 2 project */

#scroll2:hover::after {
	content: "Projets";
	font-family: var(--font-family);
	font-size: 20px;
	color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* ? Hover 3 formulaire */

#scroll3:hover::after {
	content: "Formulaire";
	font-family: var(--font-family);
	font-size: 20px;
	color: rgb(255, 255, 255);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* * Header */

.scroll-box > h2 {
	font-size: 0;
}

/* * Toggle Switch */
.container-toggle {
	position: fixed;
	z-index: 6;
	top: 5%;
	right: 5%;
	display: flex;
	justify-content: end;
}
.toggle-switch {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 40px;
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "Dark";
	text-align: center;
	align-content: center;
	font-family: var(--font-family);
	height: 35px;
	width: 35px;
	left: 4px;
	bottom: 3px;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider:before {
	transform: translateX(57px);
	content: "Light";
}

.slider {
	border-radius: 37px;
}

.slider:before {
	border-radius: 50%;
}

/* * Section Style Profil */

.container-section-profil {
	display: flex;
	border-radius: 2px;
	margin: 0 auto;
	width: 80%;
	border-radius: 4px;
	border-top: solid 6px #00b169;
}

.container-section-profil > section:first-of-type {
	margin-top: 30px;
	border-radius: 4px;
	width: 70%;
	font-size: 0;
	border-top: solid 6px #00b169;
}

.container-section-profil > h2 {
	font-size: 32px;
	margin: 10px 0 0 30px;
	color: #1f1f1f;
	font-family: var(--font-family);
	font-style: italic;
}

.container-section-profil > .second-ligne-profil {
	position: absolute;
	border-top: solid 6px #00b169;
	border-radius: 4px;

	width: 60%;
	border-radius: 4px;
	margin-top: 60px;
	font-size: 0;
	margin-left: 10%;
}

/* * Section Style Projects */

.container-section-projects {
	display: flex;
	margin: 0 auto;
	width: 80%;
	border-top: solid 6px #00b169;
	border-radius: 4px;
}

.container-section-projects > section:first-of-type {
	margin-top: 30px;
	width: 80%;
	margin-left: 2%;
	font-size: 0;
	border-top: solid 6px #00b169;
	border-radius: 4px;
}

.container-section-projects > h2 {
	position: relative;
	font-size: 32px;
	margin: 10px 0px 0px 25%;
	font-family: var(--font-family);
	font-style: italic;
}

.container-section-projects > .second-ligne-projects {
	position: absolute;
	border-top: solid 6px #00b169;
	border-radius: 4px;

	width: 60%;
	margin-top: 60px;
	font-size: 0;
	margin-left: 10%;
}

/* * Section Style Formulaire */

.container-section-formulaire {
	display: flex;
	margin: 0 auto;
	width: 80%;
	border-radius: 4px;

	border-top: solid 6px #00b169;
}

.container-section-formulaire > section:first-of-type {
	margin-top: 30px;
	width: 70%;
	font-size: 0;
	border-top: solid 6px #00b169;
	border-radius: 4px;
}

.container-section-formulaire > h2 {
	font-size: 32px;
	margin: 10px 0 0 30px;
	font-family: var(--font-family);
	font-style: italic;
}

.container-section-formulaire > .second-ligne-formulaire {
	position: absolute;
	border-top: solid 6px #00b169;
	border-radius: 4px;

	width: 60%;
	margin-top: 60px;
	font-size: 0;
	margin-left: 10%;
}

.scroll-box > h2 {
	font-size: 0;
}

/* ? Responsive iphone 14pro max */

@media screen and (max-width: 430px) {
	.title {
		font-size: 50px;
		padding: 40px;
		font-style: italic;
	}
	.scroll-list {
		display: none;
	}
	.container-section-profil {
		margin-top: 8em;
	}
}

/* * Header mobile */

@media screen and (max-width: 430px) {
	.scroll-box {
		display: block;
		align-content: center;
		position: sticky;
		top: 0;
		z-index: 5;
		width: 100%;
		height: 60px;
		margin-top: 80vh;
		border-radius: 0 0 40px 40px;
		background-color: #00b169;
	}
	.scroll-box > h2 {
		font-size: 30px;
		color: white;
		margin: 0 0 0 50px;
		font-family: var(--font-family);
		font-style: italic;
	}
	.container-toggle {
		top: 1%;
	}
}
