@import url("https://fonts.googleapis.com/css2?family=Barriecito&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=MedievalSharp&family=Poetsen+One&family=Roboto+Condensed:ital@0;1&display=swap");

* {
	box-sizing: border-box;
}

*:focus-visible {
	outline-style: solid;
	outline-color: #458b66;
	outline-width: 3px;
	outline-offset: 1px;
}

body {
	margin: 0;
}

html {
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

:root {
	--font-family: "Roboto Condensed", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
input,
textarea,
button,
label {
	font-family: var(--font-family);
}

/* * Toggle switch */

main {
	height: 100%;
	width: 100%;
}

#Dark {
	& .title {
		font-style: italic;
	}
	& .container-section-profil {
		border-top: solid 4px white;
	}
	& .container-section-profil > section {
		border-top: solid 4px white;
	}
	& .container-section-profil > h2 {
		color: white;
	}
	& .container-section-projects {
		border-top: solid 4px white;
	}
	& .container-section-projects > section {
		border-top: solid 4px white;
	}
	& .container-section-projects > h2 {
		color: white;
	}
	& .container-section-formulaire {
		border-top: solid 4px white;
	}
	& .container-section-formulaire > section {
		border-top: solid 4px rgb(255, 255, 255);
	}
	& .container-section-formulaire > h2 {
		color: white;
	}
	& .container-formulaire {
		& input {
			background: rgb(2, 33, 33);
		}
		& label {
			color: white;
		}
		& textarea {
			background: rgb(2, 33, 33);
		}
		& button {
			background-color: white;
			border: solid 2px rgb(255, 255, 255);
			color: black;
		}
		& button:hover {
			background-color: #00bd74;
		}
	}
	.scroll-box {
		background-color: #ffffff;
		& h2 {
			color: rgb(0, 0, 0);
		}
	}
	#scroll1:hover {
		background: none;
	}
	#scroll2:hover {
		background: none;
	}
	#scroll3:hover {
		background: none;
	}
	.slider {
		background-color: white;
					outline: solid 1.5px black;

	}
	@media screen and (max-width: 300px) {
		.slider {
			background-color: black;
			border: solid 2px black;
		}
		.slider:before {
			color: black;
			background-color: white;
		}
	}
	.slider:before {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}
}

#Light {
	& .title {
		color: black;
		font-style: italic;
	}
	& .container-profil {
		background-color: #ffffff;
	}
	& .scroll-list section > a > div {
		background-color: rgb(0, 0, 0);
	}
	& .container-formulaire {
		& label {
			background: #ffffff;
		}
		& input {
			color: black;
			border: solid black 2px;
		}
		& textarea {
			color: black;
			border: solid 2px black;
		}
		& button {
			background-color: white;
			border: solid 2px black;
			color: black;
		}
		& button:hover {
			background-color: #00bd74;
		}
	}
	#scroll1:hover {
		background: none;
	}
	#scroll1:hover::after {
		color: black;
	}
	#scroll2:hover {
		background: none;
	}
	& .container-profil {
		background-color: none;
		color: rgb(0, 0, 0);
	}
	#scroll2:hover::after {
		color: black;
	}
	#scroll3:hover {
		background: none;
	}
	#scroll3:hover::after {
		color: black;
	}

.slider:before {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}
input:checked + .slider {
	background-color: #000000;
}
input:checked + .slider:before {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

/*  * Style de scroll bar */

& ::-webkit-scrollbar {
	width: 10px;
	background: #181818ad;
}
::-webkit-scrollbar-thumb {
	border: solid 0 transparent;
	background-color: rgb(255, 255, 255);
	border-radius: 10px 0px 0px 10px;
}
}