/* * Container profil */

.container-profil {
	background-color: #022020;
	border-radius: 15px;
	color: rgb(255, 255, 255);
	width: 70%;
	margin: 0 auto;
	padding: 2rem;
	display: flex;
	margin-top: 10em;
	margin-bottom: 20em;
}

/* * image */

.container-profil > picture {
	width: 100%;
}

.container-profil > picture > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

/* * Text profil */

.container-text-profil {
	margin-left: 3em;
	width: 100%;
	font-family: var(--font-family);
}

.container-text-profil > h2 {
	font-size: 32px;
	font-style: italic;
	width: 100%;
	margin-bottom: 0;
}

.container-text-profil > p:first-of-type {
	margin-top: 10px;
	word-spacing: 2px;
	width: 100%;
	font-size: 20px;
	font-style: italic;
}

.container-text-profil > p {
	margin-top: 3em;
	font-size: 17px;
	padding: 10px;
	text-align: justify;
}

/* * container-link */

.container-link {
	display: flex;
	justify-content: right;
	align-items: end;
	gap: 20px;
	width: 100%;
	height: 100px;
}

.container-link > a {
	width: 80px;
	height: 75px;
	border-radius: 20px;
	border: solid black 2px;
	background-color: white;
	padding: 5px;
}

.container-link > a:hover {
	opacity: 85%;
	border: solid 3px #13c178;
}

.container-link > a > img {
	width: 100%;
	object-fit: cover;
	border-radius: 17px;
}

/* ? Responsive iphone 14pro max */

@media screen and (max-width: 430px) {
	.container-profil {
		flex-direction: column;
		justify-content: center;
		padding: 15px;
		margin: 0 auto;
		margin-top: 10em;
		margin-bottom: 10em;
		width: 90%;
	}
		.container-text-profil {
		margin: 0 auto;
		justify-items: center;
	}
	.container-text-profil > p {
		margin-top: 0em;
	}
	.container-text-profil > h2 {
		text-align: center;
	}
	.container-text-profil > p:first-of-type {
		text-align: end;
		font-size: 24px;
	}
	.container-link {
		gap: 10px;
		justify-content: center;
	}
}

@media screen and (max-width: 1200px) {
	.container-profil {
		flex-direction: column;
	}	.container-text-profil {
		margin: 0 auto;
		justify-items: center;
	}
	.container-text-profil > p {
		margin-top: 0em;
	}
	.container-text-profil > h2 {
		text-align: center;
	}
}
